# Lecture 5

## Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing, model_selection, linear_model

In [2]:
filename = "/Users/Dylan/Desktop/School Stuff/Master's Year/Spring 2021/STA 208/DavisSML/data/Hitters.csv"
df = pd.read_csv(filename, index_col=0).dropna()

In [3]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
-Alan Ashby,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
-Alvin Davis,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
-Andre Dawson,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
-Andres Galarraga,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
-Alfredo Griffin,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [5]:
df.index.name = "Player"
dummies = pd.get_dummies(df[['League', 'Division', 'NewLeague']])

# We want to predict salary, so we will store this as our predictor variable y
y = df.Salary

# Drop unncessary columns from our data frame
X_ = df.drop(['Salary', 'League', 'Division', 'NewLeague'], axis=1).astype('float64')

# Add back our dummy columns
X = pd.concat([X_, dummies[['League_N', 'Division_W', 'NewLeague_N']]], axis=1)

In [9]:
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
Player,,,,,,,,,,,,,,,,,,,
-Alan Ashby,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
-Alvin Davis,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
-Andre Dawson,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
-Andres Galarraga,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
-Alfredo Griffin,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

In [12]:
# Split our X and y into training and test sets
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.33, random_state=0)

In [21]:
loo = model_selection.LeaveOneOut()
looiter = loo.split(X)
lasso = linear_model.LassoCV(cv=looiter, max_iter=2000, random_state=0)

In [22]:
lasso.fit(X, y)
lasso.get_params()

{'alphas': None,
 'copy_X': True,
 'cv': <generator object BaseCrossValidator.split at 0x1206a5ac0>,
 'eps': 0.001,
 'fit_intercept': True,
 'max_iter': 2000,
 'n_alphas': 100,
 'n_jobs': None,
 'normalize': False,
 'positive': False,
 'precompute': 'auto',
 'random_state': 0,
 'selection': 'cyclic',
 'tol': 0.0001,
 'verbose': False}

In [23]:
print("The selected lambda value is {:.2f}".format(lasso.alpha_))

The selected lambda value is 540.66

In [24]:
print(lasso.coef_)

[-0.          1.49581634  0.          0.          0.          1.13968178
 -0.         -0.33741746  0.82331967  0.          0.79940936  0.65462067
 -0.03322761  0.27574744  0.13169212 -0.          0.         -0.
  0.        ]